{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}

        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

        {{ if $.Param "socialShare" }}
            <hr/>
            <section id="social-share">
              <div class="list-inline footer-links">
                {{ partial "share-links" . }}
              </div>
            </section>
        {{ end }}

        {{ if .Site.Params.showRelatedPosts }}
          {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
            {{ $.Scratch.Set "has_related" true }}
          {{ end }}

          {{ if $.Scratch.Get "has_related" }}
                  <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
                  <ul>
                {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
                {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>

          {{ end }}
                  {{ end }}
       <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </article>

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}

        <style>
         @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
         .form-preview {
             display: block;
             margin-top: 30px;
             padding: 40px 50px 40px 50px;
             max-width: 350px;
             min-height: 200px;
             border-radius: 6px;
             box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25);
         }
         .form-preview .preview-heading {
             width: 100%;
         }
         .form-preview .preview-input-field {
             margin-top: 20px;
             width: 100%;
         }
         .form-preview .preview-input-field input {
             width: 100%;
             height: 40px;
             border-radius: 6px;
             border: 2px solid #e9e8e8;
             background-color: #fff;
             outline: none;
         }
         .form-preview .preview-input-field input::placeholder, .form-preview .preview-input-field input {
             opacity: 0.5;
             color: #000;
             font-family: "Montserrat";
             font-size: 14px;
             font-weight: 500;
             line-height: 20px;
             text-align: center;
         }
         .form-preview .preview-submit-button {
             margin-top: 10px;
             width: 100%;
         }
         .form-preview .preview-submit-button button {
             width: 100%;
             height: 40px;
             border: 0;
             border-radius: 6px;
             line-height: 0px;
         }
         .form-preview .preview-submit-button button:hover {
             cursor: pointer;
         }

        </style>
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/kracekumar"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/kracekumar', 'popupwindow')"
            class="embeddable-buttondown-form"
        >
            <label for="bd-email">Enter your email</label>
            <input type="email" name="email" id="bd-email" />
            <input type="hidden" value="1" name="embed" />
            <input type="submit" value="Subscribe" />
            <p>
                <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
            </p>
        </form>

        {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          {{ if .Site.Params.delayDisqus }}
          <div class="disqus-comments">
            <button id="show-comments" class="btn btn-default" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function () {
              this.page.url = '{{ trim .Permalink "/" }}';
            };

          </script>
          </div>
          {{ else }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
